<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/edit(id=${user.getId()})}" th:object="${user}">
  <label for="name">Имя</label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  <br/>
  <br/>
  <br/>
  <label for="age">Возраст</label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
  <br/>
  <br/>
  <br/>
  <label for="email">email</label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  <br/>
  <br/>
  <br/>
  <input type="submit" value="Принять изменения"/>
</form>

</body>
</html>